/media/monad/DataScience/code/pythonLibrary/tensorflow/tim_tensorflow2.0_complete/training_checkpoints/


.ipynb_checkpoints
.DS_Store
code/datasets/movie/aclImdb_v1.tar.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


